<html>

<head>
  <script src="https://unpkg.com/petite-vue" defer init></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    -->
  <title>ACT Sandbox </title>
</head>

<body>

  <div class="container">
    <form v-scope="ContactForm()" @submit.prevent="submitForm">

      <div class="card">
        <div class="card-title mt-2 ml-4">
          <h1>Mini ACT Sandbox</h1>
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col">

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" id="code" class="form-label">Act Code</label>
                <textarea rows="20" class="form-control" id="exampleFormControlTextarea1" rows="3"
                  v-model="formData.actcode"></textarea>
              </div>


            </div>
            <div class="col">

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">PRSim code</label>
                <textarea rows="20" class="form-control" id="exampleFormControlTextarea1" v-model="formData.prsimcode"
                  rows="3"></textarea>
              </div>
              <button type="submit" @click="submitForm" :disabled="formLoading" v-text="buttonText"
                class="btn btn-primary"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Result</label>
                <textarea rows="20" class="form-control" disabled id="exampleFormControlTextarea1" rows="3"
                  :value="formResult"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script>
    const FORM_URL_BACKEND = "/act_code";
    function ContactForm() {
      return {
        formData: {
          actcode: "defproc inv (bool? in; bool! out)\n {\n prs {\n  in -> out-\n  ~in -> out+\n   }\n }\n int v;\n",
          prsimcode: "initialize\nwatch i.in\nwatch i.out\nstatus X\nset i.in 0\ncycle\nset i.in 1\ncycle",
        },
        formResult: "",
        formLoading: false,
        buttonText: "Execute",
        submitForm() {
          this.formMessage = "";
          this.buttonText = "Executing...";
          this.formLoading = false;
          fetch(FORM_URL_BACKEND, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            body: JSON.stringify(this.formData),
          }).then((response) => {
            return response.json();
          }).then((result) => {
            this.formData.name = "";
            this.formData.email = "";
            this.formData.message = "";
            this.formResult = result.result;
          })
            .catch(() => {
              this.formResult = "Something went wrong.";
            }).finally(() => {
              this.formLoading = false;
              this.buttonText = "Submit";
            });
          console.log(JSON.stringify(this.formData));
        },

      };
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/codemirror.min.js" integrity="sha512-2cmTnLqUwlJs8HnJF3SvFKcsdRf65Ho7wof0IeydYXnyWCiVhaR6u2zTD/BFS+2mIywyiUscY1Er54SS+OJjEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->
</body>
</body>

</html>